<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>

    <title>{{ page.title }}</title>

    <meta http-equiv="content-language" content="en" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="author" content="Yury V. Zaytsev, http://zaytsev.net" />

    <link rel="stylesheet" type="text/css" href="/css/default.css" />

    <link rel="alternate" type="application/atom+xml" href="http://yury.zaytsev.net/atom.xml" title="Yury V. Zaytsev: Press Feed" />

    <!--
        <rdf:RDF xmlns="http://web.resource.org/cc/"
            xmlns:dc="http://purl.org/dc/elements/1.1/"
            xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#">
        <Work rdf:about="http://yury.zaytsev.net/">
            <dc:title>Yury V. Zaytsev's home page</dc:title>
            <dc:description>A dump of miscellaneous ramblings</dc:description>
            <license rdf:resource="http://creativecommons.org/licenses/by-nc-nd/3.0/us/" />
        </Work>
        <License rdf:about="http://creativecommons.org/licenses/by-nc-nd/3.0/us/"></License>
        </rdf:RDF>
    -->

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-3087437-5', 'auto');
      ga('send', 'pageview');
    </script>

</head>

<body>

    <div class="content">
        {{ content }}


        <div class="license">
            <a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="Contact me if you want a different license"><img src="/images/cc-license-88x31.png" alt="CC BY-NC-ND" /></a>
        </div>

    </div>

</body>
</html>
